{% extends 'base/navbar.html' %}
{% block content %}
{% load static %}
<div class="container background">
    <div class="row">
        <div id="login-box" class="col-md-6 col-md-offset-2">
            <h3 class="text-center col-md-10 col-md-offset-2">请修改密码</h3>
            <form action="{% url 'reset' %}" class="form-horizontal">
                {% for field in form %}
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">{{ field.label }}</label>
                        <div class="col-sm-9">
                            {{ field }} <span class="error pull-right"></span>
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9 text-center">
                        <h5 class="show-info"></h5>
                        <input id="reset" type="button" value="提交" class="btn btn-primary btn-block">
                    </div>
                </div>
            </form>
            <form action="{% url 'login' %}" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9 text-center">
                        <input type="submit" value="返回登录" class="btn btn-primary btn-block">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'init_ajax.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
<script>
    $('#reset').on('click', function () {
        var formdata = new FormData();
        formdata.append('username', $("#id_username").val());
        formdata.append('telephone', $("#id_telephone").val());
        formdata.append('new_password', $("#id_new_password").val());
        formdata.append('repeat_new_password', $("#id_repeat_new_password").val());
        
        $.ajax({
            url:"/reset/" ,
            type:"post" ,
            processData:false ,
            contentType:false ,
            data:formdata ,
            success:function (data) {
                if (data.flag) {
                    // 清楚页面修改信息
                    $('form span').html('');
                    $('.col-sm-9').removeClass('has-error');
                    $('.form-control').val('');
                    $('.show-info').html('恭喜您修改成功，请返回登陆！');
                } else {
{#                    清空错误信息#}
                    $('.show-info').html('');
                    $('form span').html('');
                    $('.col-sm-9').removeClass('has-error');
{#                    加载错误信息#}
                    $.each(data.error_dict, function (field, error_list) {
                        if (field == '__all__'){
                            $('#id_repeat_new_password').next().html(error_list[0]).css('color', 'red');
                            $('#id_repeat_new_password').parent().addClass('has-error')
                        }
                        $('#id_' + field).next().html(error_list[0]).css('color', 'red');
                        $('#id_' + field).parent().addClass('has-error')
                    })
                }
            }
        })
    })
</script>
{% endblock %}

{% block name %}
    修改密码
{% endblock %}
